<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .filebox {
            padding: 5% 10%;
            margin: 0 0 10% 0;
            border: #1f9ce9 1px;
            border-radius: 5px;
            border-style: solid
        }
        .filebox span {
            color: white;
            font-size: medium;
        }

        .filebox a {
            color: white;
            font-size: medium;
        }
    </style>
</head>
<body>
<div class="filebox">
    <a href="javascript:;" class="file" id="file_a">选择文件
        <input type="file" id="file_input" disabled=true name="newfile" value="">
    </a>
    <br>
    <span class="fileerrorTip"></span>
    <span class="showFileName"></span>
</div>
</body>
</html>


